*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: farsi;
    src: url(./IRANSansWeb.ttf);
}

body{
    font-family: farsi;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1976d2;
    height: 60px;
    position: relative;
}

.notif{
    cursor: pointer;
    margin-left: 50px;
    line-height: 60px;
}

.notif span{
    background: #f00;
    padding: 2px;
    border-radius: 50%;
    color: white;
    vertical-align: top;
    margin-left: -25px;
    font-size: 11px;

}

.notif img{
    display: inline-block;
    width: 40px;
    margin-top: 20px;
}

.notif:hover{
    opacity: .7;

}

.logo{
    flex: 1;
    margin-right: 50px;
    color: #eee;
    font-size: 20px;
    font-family: monospace;
}

.notif-box{
    direction: rtl;
    width: 300px;
    height: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    top: 63px;
    left: 35px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.notif-box h2{
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999;

}

.notif-box h2 span{
    color: #f00;

}

.notif-item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.notif-item:hover{
    background-color: #eee;
}

.notif-item img{
    display: block;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.notif-item .text h4{
    color: #777;
    font-size: 16px;
    margin-top: 10px;
}

.notif-item .text p{
    color: #aaa;
    font-size: 12px;
}

.grids{
    /* width: max-content;
    position: absolute; */
    justify-content: center;
    align-items: center;

}

.first{
    position: relative;
    margin: 10% auto 2% auto;
    /* margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 2%; */
    width: 300px;
    height: 70px;
    background-color: #1976d2;
    color: white;
    border-radius: 3px;
}

.second{
    position: relative;
    margin: 2% auto;
    width: 300px;
    height: 70px;
    background-color: #1976d2;
    color: white;
    border-radius: 3px;
}

.third{
    position: relative;
    margin: 2% auto;
    width: 300px;
    height: 70px;
    background-color: #1976d2;
    color: white;
    border-radius: 3px;
}

.grid{
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
    transition: all .50s ease;
}

.grid:hover{
    transform: scale(1.1);
    cursor: pointer;
}
   
h1{
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    padding-top: 19px;
    /* padding: 10px 60px; */
}